body
{background-color: azure;}
p{color: beige;}

hr{
    border-style: none;
    border-top-style: dotted;
    border-color:gray ;
    border-width: 5px;
    width:20% ;}

img{background-color: rgb(7, 77, 77);}

.mushroom{
    background-color: aqua;
}
.cirular{
    border-radius: 100%;
}

#heading{
    color: brown;
    font-style: italic;
}